div {
    font-size: 0;
    border: solid black 2px;
    padding: 2px;
}

img {
    width: 10px;
}

button {
    height: 35px;
    width: 25%;
}

.blue {
    background-color: rgb(0, 161, 230);
}

.bgGrey {
    background-color: rgb(88, 81, 81);
}

.green  {
    width: 50%;
    background-color: green;
    color: white;
}